*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #EDEFEE;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#logo {
    height: 100px;
    width: fit-content;
    margin-bottom: 20px;
}
nav{
    height: 70px;
    background-color: rgb(41,41,41);
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 15px;
    margin-bottom: 20px;
}
li, a {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
li a:hover {
    text-decoration: none;
    color: #26877F;
    transform: scale(1.20);
    transition: 0.10s ease-in-out;
}
.banner-container {
    width: 100%;
    max-width: 1100px;
    height: 300px;
    border-radius: 15px;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}
#banner {
    width: 150%;
    opacity: 60%;
}
#banner-info {
    width: 94%;
    position: absolute;
    top: 5%;
    left: 3%;
}

#banner-title {
    font-size: 40px;
    color: white;
    padding-bottom: 90px;
    padding-top: 25px;
}

#banner-text {
    width: 100%;
    color: white;
}
h1{
    font-size: 3rem;
}

.logo {
    width: 300px;
    height: 150px;
}
.logo img {
    height: 100%;
}
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    display: inline-block;
}
main {
    display: flex;
    padding: 0 15px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    flex: 1;
    margin: 10px;
    padding: 10px 15px;
    background-color: #F4E5D6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 350px;
}
article h2{
    color: black;
    margin-bottom: 20px;
    margin-top: 10px;
}
article img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 15px;
}
article p {
    color: black;
    width: 100%;
    text-align: justify;
    margin-bottom: 15px;
}
article a {
    color: #26877F;
    text-decoration: none;
    margin-top: auto;
}
footer {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0 40px 20px 40px;
    justify-content: center;
}
footer div {
    flex: 1;
    max-width: 550px;
}
#footer-logo{
    height: 80px;
}
.copyright{
    flex: 1;
    max-width: 550px;
}
.copyright hr {
    background-color: rgb(122, 122, 122);
    border: none;
    height: 1px;
}
.copyright p {
    color: rgb(71, 71, 71);
    text-align: right;
    font-size: 10px;
    font-weight: bold;
}